.DS_Store

build/
DerivedData/

*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
**/xcuserdata/
**/*.xcworkspace/xcuserdata/
*.xcuserstate
*.moved-aside
*.xcscmblueprint
*.xccheckout
*.dSYM

*.ipa
*.app
*.dSYM.zip
*.xcarchive

fastlane/report.xml
fastlane/test_output/
fastlane/output/
fastlane/screenshots/

vendor/bundle/
.bundle/

.build/
.swiftpm/

*.log
